<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Lista polis</title>
</head>

<body>

<div class="container">

    <h3>Lista polis</h3>
    <hr>

    <!-- Display user name and role -->

    <p>
        Witaj <span sec:authentication="principal.username"></span>!
        <br>
        Twój rodzaj użytkownika to: <span sec:authentication="principal.authorities"></span>
    </p>

    <hr>

    <!-- Add a button for adding the new policy -->
    <a th:href="@{/policies/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Dodaj polisę
    </a>

    <!-- Add a button for filtering by first name -->
    <a th:href="@{/policies/showChooseFirstNameForm}"
       class="btn btn-primary btn-sm mb-3">
        Filtruj po imieniu
    </a>

    <!-- Add a button for filtering by last name -->
    <a th:href="@{/policies/showChooseLastNameForm}"
       class="btn btn-primary btn-sm mb-3">
        Filtruj po nazwisku
    </a>

    <!-- Add a button for filtering by month -->
    <a th:href="@{/policies/showChooseMonthForm}"
       class="btn btn-primary btn-sm mb-3">
        Filtruj po miesiącu
    </a>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Data końcowa</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>PESEL</th>
            <th>Adres</th>
            <th>Nr telefonu</th>
            <th>E-mail</th>
            <th>Nr polisy</th>
            <th>Ubezpieczyciel</th>
            <th>Typ polisy</th>
            <th>Akcja</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempPolicy : ${policies}">

            <td th:hidden="${tempPolicy.id}" />
            <td th:text="${#dates.format(tempPolicy.endingDate, 'dd/MM/yyyy')}" />
            <td th:text="${tempPolicy.firstName}" />
            <td th:text="${tempPolicy.lastName}" />
            <td th:text="${tempPolicy.pesel}" />
            <td th:text="${tempPolicy.address}" />
            <td th:text="${tempPolicy.phoneNumber}" />
            <td th:text="${tempPolicy.email}" />
            <td th:text="${tempPolicy.policyNumber}" />
            <td th:text="${tempPolicy.insurer}" />
            <td th:text="${tempPolicy.policyType}" />

            <!-- Add update button/link -->
            <td>
                <a th:href="@{/policies/showFormForUpdate(policyId=${tempPolicy.id})}"
                   class="btn btn-info btn-sm">
                    Zaktualizuj
                </a>

                <!-- Add delete button/link -->
                <a th:href="@{/policies/delete(policyId=${tempPolicy.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Czy jesteś pewny, że chcesz usunąć tę polisę?'))) return false">
                    Usuń
                </a>
            </td>

        </tr>
        </tbody>
    </table>

    <hr>
    <!-- Add a navigation link at the bottom of the page -->
    <a th:href="@{/policies/list}">Powrót do listy polis</a>

    <!-- Add a logout button -->
    <p>
        <form action="#" th:action="@{/logout}" method="POST">

            <button type="submit" class="btn btn-danger">Wyloguj</button>
        </form>
    </p>

</div>

</body>
</html>